.footer-nav{
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

ul[title]::before {
  content: attr(title);
  font-size: 20px;
  font-weight: 700;
}

.footer-nav ul li{
  font-size: 14px;
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.footer-nav ul li:first-child{
  padding-top: 20px;
}

.footer-nav ul li a {
  border-bottom: 1px solid rgba(0,0,0,0);
}

.footer-nav ul li a:hover {
  border-bottom: 1px solid black;
}
